<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zhiliao Explore</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/index.css">
</head>
</head>

<body>
    <div class="container-fluid">
        
        
        <div class="answerboxgroup middlediv"  style="overflow-y:auto">
            <div class="media">
                <div class="media-body">
                    
                    <h5 class="mt-0 mb-1">(问题1)2021 年我国结婚登记 763.6 万对创 36 年新低，为什么年轻人不结婚了？有什么办法解决吗？</h5>
                    <p>（这是回答1）
                        凡事多讲正能量！

                        匈奴未灭何以家为！年轻人都在干事业，哪有心思结婚？
                        
                        如今美帝陷于病痛；俄酋困于战事；西欧诸强内乱不已，其他碌碌之辈皆不足道！
                        
                        此大有为之时也！
                        
                        大丈夫生于乱世，当建功立业，岂可缠绵于二亩地一头牛老婆孩子热炕头？
                        
                        今日之不婚者，他日定可封妻荫子名利双收！
                        
                        “醒掌天下权，醉卧美人塌”之时，回忆当初不婚之事，定然感慨不负韶华！</p>
                </div>
                <a href="">万事如噫闻太师</a>
                <!-- 暂时不放头像了 -->
                <!-- <img src="..." class="ml-3" alt="..."> -->
                
            </div>
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">问题2</h5>
                    <p>这是回答2</p>
                </div>
                <img src="..." class="ml-3" alt="...">
            </div>
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">问题3</h5>
                    <p>这是回答3</p>
                </div>
                <img src="..." class="ml-3" alt="...">
            </div>
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">问题4</h5>
                    <p>这是回答4</p>
                </div>
                <img src="..." class="ml-3" alt="...">
            </div>
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">问题5</h5>
                    <p>这是回答5</p>
                </div>
                <img src="..." class="ml-3" alt="...">
            </div>
        </div>

<script src="./static/js/jquery-3.6.0.slim.min.js" crossorigin="anonymous"></script>
<script src="./static/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

</html>